.section {
    background: #000;
    padding: 80px 60px;
    color: #fff;
}

.tabs {
    display: flex;
    justify-content: center;
    gap: 16px;
    margin-bottom: 60px;
}

.tab {
    padding: 12px 28px;
    border-radius: 30px;
    border: 1px solid #fe851e;
    background: transparent;
    color: #fe851e;
    cursor: pointer;
    transition: all 0.3s ease;
}

.tab:hover {
    background: #fe851e;
    color: #000;
}

.active {
    background: #fe851e;
    color: #000;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 40px;
}

.wrapper {
    position: relative;
}

.card {
    background: #000;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0 0 0 rgba(254, 133, 30, 0);
    transition: all 0.4s ease;
}

.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 30px rgba(254, 133, 30, 0.8);
}

.cardThumb {
    height: 220px;
    overflow: hidden;
}

.cardThumb img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.6s ease, opacity 0.6s ease;
}

.card:hover .cardThumb img {
    transform: scale(1.15);
    opacity: 0.7;
}

.cardBody {
    padding: 24px;
}

.cardTitle {
    font-size: 18px;
    margin-bottom: 12px;
    color: #fe851e;
}

.cardDescription {
    font-size: 14px;
    line-height: 1.6;
    color: #ddd;
}

.card {
  position: relative;
}


.overlay {
  position: absolute;
  left: 0;
  bottom: -100%;
  width: 100%;
  height: 50%;

  background: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.9),
    rgba(0, 0, 0, 0.4)
  );

  padding: 22px;
  transition: all 0.45s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}


.overlayTitle,
.overlay h3 {
  color: #fe851e;
  font-size: 26px;        
  text-transform: uppercase;
  letter-spacing: 1.5px;
}
.tabContent {
  margin-bottom: 40px; 
  padding: 20px;
  background: #000; 
  color: #727070;
  border-left: 4px solid #fe851e; 
  border-radius: 8px;
  font-size: 1rem;
  line-height: 1.6;
}



.card:hover .overlay {
  bottom: 0;
}
.titleWithTooltip {
  position: relative;
  color: #fe851e;
  cursor: pointer;
}
.tooltip {
  position: absolute;
  left: 0;
  bottom: 140%;
  width: 200px;
  padding: 14px 16px;
  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  font-size: 10px;
  line-height: 1.6;
  border-radius: 12px;
  border: 1px solid rgba(254, 133, 30, 0.6);
 text-transform: lowercase;
  opacity: 0;
  transform: translateY(10px) scale(0.95);
  pointer-events: none;

  transition: all 0.35s ease;
  box-shadow: 0 0 25px rgba(254, 133, 30, 0.35);
}


.tooltip::after {
  content: "";
  position: absolute;
  bottom: -8px;
  left: 20px;
  width: 14px;
  height: 14px;
  background: rgba(0, 0, 0, 0.85);
  transform: rotate(45deg);
  border-right: 1px solid rgba(254, 133, 30, 0.6);
  border-bottom: 1px solid rgba(254, 133, 30, 0.6);
}


.titleWithTooltip:hover .tooltip {
  opacity: 1;
  transform: translateY(0) scale(1);
}



.card:hover .overlay {
  bottom: 0;
}




