.wrapper {
    min-height: 100vh;
    background: linear-gradient(120deg, #000 60%, #111);
    display: flex;
    align-items: center;
    padding: 4rem 6rem;
    color: #fff;
    font-family: "Poppins", sans-serif;
}

.content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.textBox {
    max-width: 620px;
   
}

.textBox h1 {
    font-size: 4.2rem;
    font-weight: 700;
    line-height: 1.15;
}

.textBox h1 span {
    color: #fe851e;
}

.textBox p {
 font-size: 16px;
    color: #cfcfcf;
    max-width: 520px;
    margin-bottom: 35px;
   
}


.btn {
    padding: 14px 36px;
    background: #fe851e;
    color: #000;
    border: none;
    border-radius: 40px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.4s;
}

.btn:hover {
    background: #fff;
    transform: translateY(-3px);
}


.imageWrapper {
    width: 620px;
    height: 520px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rotateImg {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
}

.tag {
  display: inline-block;
  background: rgba(255, 123, 0, 0.15);
  color: #ff7b00;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 25px;
}
.marqueeSection {
  padding: 10px 5px;
  background: #000; 
  overflow: hidden;
  text-align: center;
  
}
.marqueeHeading {
  text-align: center;
  margin-bottom: 50px;
}
.marquee {
  width: 100%;
  position: relative;
}

.marqueeTrack {
  display: flex;
  gap: 2.5rem;
  width: max-content;
  animation: marqueeMove 35s linear infinite;
  margin-top: 20px;
}

.marqueeTrack:hover {
  animation-play-state: paused;
}


.marqueeCard {
  width: 350px;  
  height: 220px;  
  border-radius: 22px;
  flex-shrink: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease;
  box-shadow: 0 25px 60px rgba(0, 0, 0, 0.5); 
}


.marqueeCard img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  transition: transform 0.5s ease, opacity 0.5s ease;
  opacity: 0.8;
}


.marqueeCard h3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
  color: #ffffff; 
  font-size: 1.4rem;
  font-weight: 700;
  text-align: center;
  text-shadow: 0 0 12px rgba(0, 0, 0, 0.8); 
  z-index: 2;
  padding: 0 0.5rem;
}


.marqueeCard:hover {
  transform: scale(1.15) translateY(-12px); 
  border: 2px solid #FE851E; 
}

.marqueeCard:hover img {
  transform: scale(1.25); 
  opacity: 0.9;
}


@keyframes marqueeMove {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.starButton {
  position: relative;
  padding: 12px 36px;
  background: #fe851e;
  font-size: 16px;
  font-weight: 500;
  color: #181818;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 #fec1958c;
}


.star1,
.star2,
.star3,
.star4,
.star5,
.star6 {
  position: absolute;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
}

.star1 { top: 20%; left: 20%; width: 25px; transition: 1s cubic-bezier(0.05,0.83,0.43,0.96); }
.star2 { top: 45%; left: 45%; width: 15px; transition: 1s cubic-bezier(0,0.4,0,1.01); }
.star3 { top: 40%; left: 40%; width: 5px; }
.star4 { top: 20%; left: 40%; width: 8px; }
.star5 { top: 25%; left: 45%; width: 15px; }
.star6 { top: 5%; left: 50%; width: 5px; }

.starButton:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

.starButton:hover .star1 { top: -80%; left: -30%; z-index: 2; }
.starButton:hover .star2 { top: -25%; left: 10%; z-index: 2; }
.starButton:hover .star3 { top: 55%; left: 25%; z-index: 2; }
.starButton:hover .star4 { top: 30%; left: 80%; z-index: 2; }
.starButton:hover .star5 { top: 25%; left: 115%; z-index: 2; }
.starButton:hover .star6 { top: 5%; left: 60%; z-index: 2; }

.svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.fil0 {
  fill: #fffdef;
}

