.container {
  display: flex;
  gap: 4rem;
  padding: 4rem 6rem;
  background: #000000;
  color: #e5e7eb;
}

.left {
  flex: 1;
}

.tag {
  color: #9ca3af;
  font-size: 1.5rem;
  letter-spacing: 1px;
}

.left h1 {
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  font-family: "Playfair Display", serif;

  background: linear-gradient(90deg, #ffffff, #fe851e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(254, 133, 30, 0.35),
    0 0 25px rgba(254, 133, 30, 0.15);
  font-size: 2.4rem;
  margin: 1rem 0;
}

.left p {
  max-width: 480px;
  line-height: 1.7;
  color: #b1b1b1;
  font-size: 14px;
}


.right {
  flex: 1;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.row {
  display: flex;
  gap: 1rem;
}

input,
textarea {
  width: 100%;
  padding: 0.9rem 1rem;
  border-radius: 10px;
  border: none;
  outline: none;
  font-size: 0.95rem;
  background: #1e293b;
  color: #e5e7eb;
}

input::placeholder,
textarea::placeholder {
  color: #9ca3af;
}

textarea {
  resize: none;
}

button {
  margin-top: 0.5rem;
  padding: 0.9rem;
  border-radius: 999px;
  border: none;
  background: #f89a04;
  color: #ffffff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: background 0.3s ease;
}

button:hover {
  background: transparent;
  border: 1px solid #fe851e;
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    padding: 3rem 1.5rem;
  }

  .row {
    flex-direction: column;
  }

  .left h1 {
    font-size: 2rem;
  }
}

@media (max-width: 428px) {
  .container {
    flex-direction: column;
    gap: 1.5rem;
    padding: 2.5rem 1.5rem;
  }

  .tag {
    font-size: 1.1rem;
  }

  .left h1 {
    font-size: 12px;
    letter-spacing: 0.08em;
  }

  .left p {
    max-width: 100%;
    font-size: 10px;
    line-height: 1.6;
    text-align: justify;
  }

  .row {
    flex-direction: column;
    gap: 1.2rem;
  }

  input,
  textarea {
    font-size: 0.9rem;
    padding: 0%;
  }

  button {
    font-size: 0.95rem;
    padding: 0.85rem;
  }
}