.hero {
  position: relative;
  min-height: 100vh;
  background: radial-gradient(circle at top, #1a0b05, #000);
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(90deg,
      rgba(0, 0, 0, 0.85),
      rgba(0, 0, 0, 0.35));
  z-index: 0;
}

.content {
  position: relative;
  z-index: 1;
  max-width: 1300px;
  margin: auto;
  padding: 4rem 2rem;
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
  gap: 3rem;
}


.textBox h1 {
  font-size: 3.2rem;
  color: #fff;
  margin-bottom: 1.5rem;
  font-family: "Playfair Display", serif;
}

.textBox h1 span {
  font-family: "Playfair Display", serif;
  text-transform: uppercase;

  background: linear-gradient(90deg, #ffffff, #fe851e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(254, 133, 30, 0.35),
    0 0 25px rgba(254, 133, 30, 0.15);

  margin-bottom: 1rem;
}

.textBox p {
  font-size: 13px;
  color: #cfcfcf;
  max-width: 520px;
  margin-bottom: 35px;
}


.btn {
  margin-top: 2rem;
  padding: 0.9rem 2.4rem;
  border-radius: 10px;
  border: none;
  background: #fe851e;
  color: #000;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  transform: translateY(-4px);
  box-shadow: 0 15px 35px rgba(254, 133, 30, 0.45);
}


.visualBox {
  position: relative;
  perspective: 1400px;
}


.desktop {
  width: 80%;
  max-width: 560px;
  animation: floatDesktop 5s ease-in-out infinite;
}

.tag {
  display: inline-block;
  background: rgba(255, 123, 0, 0.15);
  color: #ff7b00;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 13px;
  margin-top: 10px;
  margin-bottom: 15px;
}

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
    text-align: center;
  }

  .textBox p {
    margin: auto;
  }

  .visualBox {
    margin-top: 3rem;
  }

  .desktop {
    margin: auto;
    transform: none;
  }
}

.starButton {
  position: relative;
  padding: 12px 36px;
  background: #fe851e;
  font-size: 16px;
  font-weight: 500;
  color: #181818;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 #fec1958c;
}


.star1,
.star2,
.star3,
.star4,
.star5,
.star6 {
  position: absolute;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
}

.star1 {
  top: 20%;
  left: 20%;
  width: 25px;
  transition: 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star2 {
  top: 45%;
  left: 45%;
  width: 15px;
  transition: 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star3 {
  top: 40%;
  left: 40%;
  width: 5px;
}

.star4 {
  top: 20%;
  left: 40%;
  width: 8px;
}

.star5 {
  top: 25%;
  left: 45%;
  width: 15px;
}

.star6 {
  top: 5%;
  left: 50%;
  width: 5px;
}

.starButton:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

.starButton:hover .star1 {
  top: -80%;
  left: -30%;
  z-index: 2;
}

.starButton:hover .star2 {
  top: -25%;
  left: 10%;
  z-index: 2;
}

.starButton:hover .star3 {
  top: 55%;
  left: 25%;
  z-index: 2;
}

.starButton:hover .star4 {
  top: 30%;
  left: 80%;
  z-index: 2;
}

.starButton:hover .star5 {
  top: 25%;
  left: 115%;
  z-index: 2;
}

.starButton:hover .star6 {
  top: 5%;
  left: 60%;
  z-index: 2;
}


.svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.fil0 {
  fill: #fffdef;
}

.servicesSection {
  background: #000;
  padding: 5rem 3rem;
}

.servicesGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 3rem;
}


.serviceCard {
  background: #000000;
  border-radius: 26px;
  padding: 1.4rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s ease;
  overflow: hidden;
}


.serviceCard::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 26px;
  padding: 2px;
  background: linear-gradient(120deg,
      transparent,
      #fe851e,
      transparent);
  -webkit-mask:
    linear-gradient(#000 0 0) content-box,
    linear-gradient(#000 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0;
  transition: 0.5s;
}

.serviceCard:hover::before {
  opacity: 1;
}

.serviceCard:hover {
  transform: translateY(-10px);
}


.serviceImage {
  border-radius: 18px;
  overflow: hidden;
  position: relative;
}

.serviceImage::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  opacity: 0;
  transition: 0.5s;
}

.serviceCard:hover .serviceImage::after {
  opacity: 1;
}

.serviceImage img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  transition: transform 0.6s ease;
}

.serviceCard:hover .serviceImage img {
  transform: scale(1.1);
}


.serviceTitle {
  text-align: center;
  margin-top: 1.4rem;
  font-size: 1.2rem;
  font-weight: 600;
  color: #000;
  transition: color 0.4s;
}

.serviceCard:hover .serviceTitle {
  color: #fe851e;
}