
.wrapper {
  background: #0b0b0b;
  color: #fff;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.hero {
  position: relative;
  z-index: 1;
  text-align: center;
  background: radial-gradient(circle at top,
      rgba(254, 133, 30, 0.15),
      transparent 70%);
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20%;
}

.hero h1 {
  font-family: "Playfair Display", serif;
  font-size: 40px;
  font-weight: 800;
  line-height: 1.1;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin-bottom: 20px;

  background: linear-gradient(90deg, #fffefe, #f87c0f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(254, 133, 30, 0.35),
    0 0 25px rgba(254, 133, 30, 0.15);
}

.hero span {
  color: #fe851e;
}

.hero p {
  max-width: 700px;
  margin: 1rem auto 0;
  color: #bfbfbf;
}

.galaxyLayer {
  position: absolute;
  inset: 0;
  height: 100vh;
  z-index: 0;
  pointer-events: none;
  overflow: hidden;
  margin-top: 5%;
}


.services {
  max-width: 1200px;
  margin: 10% auto 0;
  padding: 80px 100px;
  text-align: center;
}

.subtitle {
  color: #fe851e;
  font-size: 12px;
  letter-spacing: 3px;
  display: inline-block;
}

.line {
  width: 60px;
  height: 4px;
  background: #fe851e;
  margin: 18px auto 60px;
}

.serviceGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.2rem;
}

.card {
  background: rgba(255, 255, 255, 0.04);
  border-radius: 20px;
  padding: 2.2rem;
  text-align: left;
  border: 1px solid rgba(255, 255, 255, 0.08);
  transition: all 0.35s ease;
  height: 100%;
}

.card:hover {
  transform: translateY(-10px);
  border-color: #fe851e;
}

.icon {
  width: 52px;
  height: 52px;
  background: rgba(254, 133, 30, 0.2);
  color: #fe851e;
  border-radius: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  margin-bottom: 1.2rem;
}

.serviceCard h3 {
  cursor: pointer;
  transition: color 0.3s ease;
}

.serviceCard h3:hover {
  color: #ff6600;
  text-decoration: underline;
}


.cta {
  grid-column: 1 / -1;
  background: linear-gradient(135deg, #fa9b48, #fe851e);
  border-radius: 26px;
  padding: 3.5rem;
  color: #000;
  text-align: center;
}


.workflow {
  padding: 80px;
  background: #000;
}

.eyebrow {
  text-align: center;
  color: #fe851e;
  letter-spacing: 3px;
  font-size: 12px;
  margin-bottom: 16px;
  display: block;
}

.workflow h2 {
  text-align: center;
  font-size: 48px;
  margin-bottom: 100px;
}

.workflow h2 span {
  color: #fe851e;
}

.timeline {
  position: relative;
  max-width: 1000px;
  margin: 60px auto;
}

.centerLine {
  position: absolute;
  left: 50%;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #fe851e, transparent);
  transform: translateX(-50%);
}

.timelineItem {
  position: relative;
  width: 50%;
  padding: 40px 50px;
}

.left {
  text-align: right;
  padding-right: 80px;
}

.right {
  margin-left: 50%;
  padding-left: 80px;
}

.marker {
  position: absolute;
  top: 40px;
  right: -23px;
  z-index: 2;
}

.right .marker {
  left: -23px;
  right: auto;
}

.emoji {
  width: 46px;
  height: 46px;
  background: #000;
  border: 2px solid #fe851e;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 22px;
}

.content {
  max-width: 360px;
}

.step {
  color: #fe851e;
  font-size: 12px;
  letter-spacing: 3px;
}

.timelineItem h3 {
  font-size: 26px;
}

.timelineItem p {
  color: #bbb;
}


.software {
  padding: 80px 100px;
}

.software h2 {
  text-align: center;
  font-size: 46px;
}

.softwareIntro {
  max-width: 650px;
  margin: 0 auto 80px;
  text-align: center;
  color: #bbb;
}

.softwareList {
  max-width: 900px;
  margin: auto;
}

.softwareRow {
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  gap: 40px;
  padding: 36px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.08);
}

.softwareRow:hover h3 {
  color: #fe851e;
}

.connectBtn {
  margin: 80px auto 0;
  display: block;
  background: #fe851e;
  color: #000;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-weight: 600;
  cursor: pointer;
}

@media (max-width: 1024px) {

  .services,
  .software {
    padding: 70px 40px;
  }

  .serviceGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
   

  .hero h1 {
    font-size: 20px;
  }

  .hero p {
    font-size: 15px;
  }

  .centerLine {
    left: 20px;
  }

  .timelineItem {
    width: 100%;
    padding: 40px 20px 40px 80px;
    text-align: left !important;
  }

  .left .marker,
  .right .marker {
    left: -3px;
  }
    .hero h1 {
    font-size: 26px;
  }

  .serviceGrid {
    grid-template-columns: 1fr;
  }

  .services,
  .software {
    padding: 40px 20px;
  }

  .centerLine {
    left: 30px !important;
    transform: none !important;
    background: #fe851e !important;
   
  }

  .timelineItem {
    width: 100% !important;
    margin-left: 0 !important;
    padding: 20px 20px 30px 70px !important;
    text-align: left !important;
  }

  .left,
  .right {
    text-align: left !important;
    padding-left: 70px !important;
    padding-right: 20px !important;
    margin-left: 0 !important;
  }

  .marker {
    left: 7px !important;
    right: auto !important;
    top: 20px !important;
  }

  .emoji {
    width: 42px;
    height: 42px;
  }
  .galaxyLayer {
    display: block !important;
    position: absolute !important;
    inset: 0 !important;
    height: 100% !important;
    min-height: 100vh !important;
    z-index: 0 !important;
    pointer-events: none;
    overflow: hidden;
    opacity: 1 !important;
  }
  .hero {
    background: transparent !important;
    position: relative;
    z-index: 1; 
     background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../images/g1.jpg') !important;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;
  }
}

@media (max-width: 640px) {

  .services,
  .software {
    padding: 50px 60px;
  }

  .serviceGrid {
    grid-template-columns: 1fr;
  }

  .workflow h2 {
    font-size: 34px;
  }

  .cta {
    padding: 2.5rem 1.8rem;
  }
}

@media (max-width: 428px) {
  .timeline::before,
  .timeline::after,
  .centerLine::after {
    display: none !important;
    content: none !important;
  }


  .centerLine {
    position: absolute !important;
    left: 28px !important;
   
    top: 0 !important;
    bottom: 0 !important;
    width: 2px !important;
    background: #fe851e !important;
  
    transform: none !important;
    display: block !important;
    z-index: 1 !important;
  }


  .timelineItem {
    width: 100% !important;
    padding: 0 0 50px 70px !important;
  
    text-align: left !important;
    position: relative !important;
  }

  .left,
  .right {
    margin-left: 0 !important;
    padding-left: 70px !important;
    text-align: left !important;
  }

  
  .marker {
    position: absolute !important;
    left: 8px !important;
    
    top: 0 !important;
    z-index: 5 !important;
    right: auto !important;
  }

  .emoji {
    width: 40px !important;
    height: 40px !important;
    background: #0b0b0b !important;
 
    border: 2px solid #fe851e !important;
    font-size: 18px !important;
  }

  .workflow h2 {
    font-size: 24px !important;
    margin-bottom: 50px !important;
    padding: 0 20px !important;
  }

  .timelineItem h3 {
    font-size: 19px !important;
    margin-top: 5px !important;
  }

 
  .hero {
    min-height: 75vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
      url('../images/g1.jpg') !important;

    background-size: cover !important;
    background-position: center !important;
    background-repeat: no-repeat !important;

    
    min-height: 80vh !important;
  }

  .hero h1 {
    font-size: 22px;
    letter-spacing: 0.06em;
    line-height: 1.2;
    margin-bottom: 14px;
  }

  .hero p {
    font-size: 12px;
    max-width: 92%;
  }

  .services,
  .software {
    padding: 40px 20px;
  }

  .serviceGrid {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }

  .card {
    padding: 1.8rem;
  }

  .cta {
    padding: 2rem 1.4rem;
    border-radius: 20px;
  }




  .workflow h2 {
    font-size: 28px;
    margin-bottom: 60px;
  }

  .centerLine {
    left: 18px;
  }

  .timelineItem {
    width: 100%;
    padding: 30px 20px 30px 70px;
  }

  .emoji {
    width: 40px;
    height: 40px;
    font-size: 18px;
  }

  .timelineItem h3 {
    font-size: 20px;
  }

  .timelineItem p {
    font-size: 14px;
  }

  .software h2 {
    font-size: 30px;
  }

  .softwareIntro {
    font-size: 14px;
    margin-bottom: 50px;
  }

  .softwareRow {
    grid-template-columns: 1fr;
    gap: 18px;
  }

  .connectBtn {
    padding: 12px 34px;
    font-size: 14px;
  }
}

@media (max-width: 428px) {

  .workflow {
    padding: 32px 16px;
  }

  
  .timeline {
    position: relative;
    padding-left: 40px;
  }

  .timeline::after {
    display: none;
  }

  .timeline::before {
    content: "";
    position: absolute;
    left: 16px;
    top: 0;
    bottom: 0;
    width: 2px;
    background: orange;
  }

  
  .timeline-item {
    position: relative;
    width: 100%;
    margin-bottom: 48px;
    padding-left: 32px;
    text-align: left;
  }

  .timeline-item.left,
  .timeline-item.right {
    left: 0;
    transform: none;
  }


  .timeline-icon {
    position: absolute;
    left: 16px;
    top: 0;
    transform: translateX(-50%);
    z-index: 2;
    background: #000;
  }
}



@media (max-width: 1024px) and (min-width: 769px) {
  .serviceGrid {
    grid-template-columns: repeat(2, 1fr);
  }


  .centerLine {
    left: 50% !important;
    transform: translateX(-50%) !important;
    display: block !important;
  }

  .timelineItem {
    width: 50% !important;
    padding: 20px 40px !important;
  }

  .left {
    text-align: right !important;
    padding-right: 60px !important;
    left: 0 !important;
  }

  .right {
    text-align: left !important;
    padding-left: 60px !important;
    margin-left: 50% !important;
  }

  .marker {
    top: 25px !important;
  }

  .left .marker {
    right: -23px !important;
    left: auto !important;
  }

  .right .marker {
    left: -23px !important;
    right: auto !important;
  }
  .galaxyLayer {
    display: block !important;
    position: absolute !important;
    inset: 0 !important;
    height: 100% !important;
    min-height: 100vh !important;
    z-index: 0 !important;
    pointer-events: none;
    overflow: hidden;
    opacity: 1 !important; /* Fully visible */
  }
  .hero {
    background: transparent !important;
    position: relative;
    z-index: 1; /* Content mela irukanum */
  }
}
