.section {
  background: #000;
  color: #fff;
  padding: 120px 5%;
  font-family: "Inter", sans-serif;
}

.container {
  max-width: 1100px;
  margin: auto;
}

.header {
  text-align: center;
  margin-bottom: 80px;
}

.mainTitle {
  font-size: clamp(34px, 5vw, 60px);
  font-weight: 800;
  line-height: 1.1;
  margin-top: 15px;
  font-family: "Playfair Display", serif;
}

.mainTitle span {
    font-family: "Playfair Display", serif;
  text-transform: uppercase;

  background: linear-gradient(90deg, #ffffff, #fe851e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow: 
    0 0 10px rgba(254, 133, 30, 0.35),
    0 0 25px rgba(254, 133, 30, 0.15);

  margin-bottom: 1rem;
}

.tag {
  color: #fe851e;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 14px;
  font-weight: 600;
}


.listWrapper {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.listItem {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  cursor: pointer;
  transition: all 0.4s ease;
}

.listContent {
  display: flex;
  align-items: center;
  gap: 40px;
  z-index: 2;
}

.id {
  font-size: 16px;
  font-weight: 700;
  color: #fe851e;
  opacity: 0.6;
}

.iconBox {
  color: #fe851e;
  transition: transform 0.3s ease;
}

.textDetails h3 {
  font-size: 28px;
  margin-bottom: 8px;
  transition: color 0.3s ease;
}

.textDetails p {
  color: #888;
  max-width: 500px;
  font-size: 16px;
  line-height: 1.5;
}

.exploreBtn {
  background: transparent;
  border: none;
  color: #fe851e;
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 600;
  font-size: 16px;
  cursor: pointer;
  z-index: 2;
  opacity: 0;
  transform: translateX(-20px);
  transition: all 0.3s ease;
}


.listItem:hover {
  padding-left: 40px;
  background: rgba(255, 140, 0, 0.02);
}

.listItem:hover .exploreBtn {
  opacity: 1;
  transform: translateX(0);
}

.listItem:hover .iconBox {
  transform: scale(1.2);
}

.listItem:hover .textDetails h3 {
  color: #fe851e;
}

.footerAction {
  margin-top: 80px;
  display: flex;
  justify-content: center;
}

.cta {
  background: #fe851e;
  color: #000;
  padding: 18px 45px;
  border-radius: 50px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}

.cta:hover {
  background: #fff;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .listItem {
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }

  .listContent {
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
  }

  .exploreBtn {
    opacity: 1;
    transform: translateX(0);
  }
}