.wrapper {
  background: #000;
  padding: 50px 60px;
  text-align: center;
  color: #fff;
}

.heading {
  font-size: 34px;
  letter-spacing: 3px;
  color: #fe851e;
  margin-bottom: 80px;
  background: linear-gradient(120deg, #ffffff, #fe851e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(254, 133, 30, 0.35),
    0 0 25px rgba(254, 133, 30, 0.15);
}


.timeline {
  display: flex;
  justify-content: space-evenly;

}


.service {
  position: relative;
  width: 200px;
}


.iconCircle {
  width: 90px;
  height: 90px;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 34px;
  color: #000;
  box-shadow: 0 0 25px rgba(255, 140, 26, 0.3);
}

.number {
  display: inline-block;
  margin: 12px 0;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 2px solid #fe851e;
  color: #fe851e;
  line-height: 34px;
  font-weight: 600;
}


.line {
  display: block;
  width: 2px;
  height: 30px;
  background: #fe851e;
  margin: 0 auto;
}


.box {
  background: #0f0f0f;
  border: 1px solid rgba(255, 140, 26, 0.3);
  padding: 18px;
  margin-top: 10px;
  border-radius: 6px;
}

.box h4 {
  color: #fe851e;
  margin-bottom: 8px;
}

.box p {
  font-size: 13px;
  color: #ccc;
  line-height: 1.5;
}


@media (max-width: 900px) {
  .timeline {
    flex-wrap: wrap;
    justify-content: center;
  }

  .service {
    margin-bottom: 50px;
  }
}