.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #000000;
  z-index: 999;
  overflow: hidden;
}

.particle {
  position: absolute;
  background-color: #fe851e;
  border-radius: 50%;
  opacity: 0.6;
  pointer-events: none;
}