.slideSection {

  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-top: 50px;
  padding-bottom: 50px;
}


.slideTrack {
  position: relative;
  width: 100%;
  max-width: 1100px;
  height: 420px;
}


.slideCard {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 360px;
  height: 380px;
  background: linear-gradient(#0d0d0d, #0d0d0d) padding-box,
    linear-gradient(135deg, #fe851e, #ffffff33) border-box;
  border: 1px solid #533d2a;
  border-radius: 26px;
  padding: 1.2rem;
  text-align: center;
  transform: translate(-50%, -50%);
  transition: 0.8s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}


.active {
  transform: translate(-50%, -50%) scale(1.15);
  z-index: 3;
  background: linear-gradient(#0d0d0d, #0d0d0d) padding-box,
    linear-gradient(135deg, #fe851e, #fe851e) border-box;
}


.slideCard img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 18px;
  margin-bottom: 1rem;
  transition: 0.6s ease;
}


.content {
  transition: 0.4s ease;
}

.slideCard h3 {
  font-size: 1.05rem;
  font-weight: 600;
  color: #fff;
}


.slideCard:hover img {
  filter: brightness(0.4);
}


.showBtn {
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transform: scale(0.85);
  transition: 0.4s ease;
  pointer-events: none;
}

.slideCard:hover .showBtn {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}


.prev {
  transform: translate(-140%, -50%) scale(0.9);
  opacity: 0.4;
  z-index: 2;
}

.next {
  transform: translate(40%, -50%) scale(0.9);
  opacity: 0.4;
  z-index: 1;
}


.starButton {
  position: relative;
  padding: 12px 36px;
  background: #e69853;
  font-size: 16px;
  font-weight: 500;
  color: #181818;
  border-radius: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  box-shadow: 0 0 0 #fec1958c;
  border: none;
}


.star1,
.star2,
.star3,
.star4,
.star5,
.star6 {
  position: absolute;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
}

.star1 {
  top: 20%;
  left: 20%;
  width: 25px;
  transition: 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star2 {
  top: 45%;
  left: 45%;
  width: 15px;
  transition: 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star3 {
  top: 40%;
  left: 40%;
  width: 5px;
}

.star4 {
  top: 20%;
  left: 40%;
  width: 8px;
}

.star5 {
  top: 25%;
  left: 45%;
  width: 15px;
}

.star6 {
  top: 5%;
  left: 50%;
  width: 5px;
}


.starButton:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
  border: 1px solid #714015;
}

.starButton:hover .star1 {
  top: -80%;
  left: -30%;
  z-index: 2;
}

.starButton:hover .star2 {
  top: -25%;
  left: 10%;
  z-index: 2;
}

.starButton:hover .star3 {
  top: 55%;
  left: 25%;
  z-index: 2;
}

.starButton:hover .star4 {
  top: 30%;
  left: 80%;
  z-index: 2;
}

.starButton:hover .star5 {
  top: 25%;
  left: 115%;
  z-index: 2;
}

.starButton:hover .star6 {
  top: 5%;
  left: 60%;
  z-index: 2;
}


.svg {
  fill-rule: evenodd;
  clip-rule: evenodd;
}

.fil0 {
  fill: #fffdef;
}

@media (max-width:480px) {
  .slideSection {
    display: none;
  }
}