
.container {
  padding: 40px;
  background: #010101;
  font-family: Arial, Helvetica, sans-serif;
}

.title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 10px;
  padding-top: 7rem;
}

.subtitle {
  text-align: center;
  color: #ffffff;
  margin-bottom: 40px;
}

.section {
  margin-bottom: 40px;
}

.sectionTitle {
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 16px;

  letter-spacing: 0.12em;
  text-transform: uppercase;
  margin-bottom: 1rem;

  background: linear-gradient( #ffffff, #fe851e);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: #ffffff; 

  text-shadow: 0 0 20px rgba(254, 133, 30, 0.2);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 16px;
}

.card {
  background: #000000;
  border-radius: 10px;
  padding: 18px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s ease;
  border: 1px solid #6e6d6d;
}

.card:hover {
  transform: translateY(-3px);
}

.cardHeading {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 8px;

}

.cardText {
  font-size: 14px;
  color: #bebcbc;
  line-height: 1.5;
}
