.wrapper {
  background: black;
  padding: 4rem 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}

.heading {
  text-align: center;
  font-family: "Playfair Display", serif;
  font-size: 2.3rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background: linear-gradient(90deg, #ffffff, #fe851e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(254, 133, 30, 0.35),
    0 0 25px rgba(254, 133, 30, 0.15);
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
  align-items: center;
  margin-top: 5rem;
}
.description p {
  margin-bottom: 1.2rem;
  line-height: 1.7;
  color: #c2c4c5;
  font-size: 1.2rem;
  text-align: justify;
}

.cards {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.card {
  background: #000000;
  padding: 1.5rem;
  border: 1px solid #533d2a;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.06);
}

.icon {
  font-size: 1.8rem;
  display: inline-block;
  transition: transform 1s ease;
}

.card:hover .icon {
  animation: bounce 0.6s ease;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  30% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(4px);
  }
  100% {
    transform: translateY(0);
  }
}

.imageBox img {
  width: 100%;
  height: 600px; /* adjust as you like */
  object-fit: cover;
  border-top-right-radius: 30%;
  border-bottom-left-radius: 30%;
}

@media (max-width: 900px) {
  .content {
    grid-template-columns: 1fr;
  }
}
.card h4 {
  font-size: 1rem;
  font-weight: 700;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  background: linear-gradient(90deg, #f5c987, #fe851e);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  text-shadow:
    0 0 10px rgba(254, 133, 30, 0.35),
    0 0 25px rgba(254, 133, 30, 0.15);
}
.card p{
  font-size: 14px;
  color: #c2c4c5;
}
@media (max-width: 428px) {
  .wrapper {
    padding: 2.5rem 0;
  }

  .heading {
    font-size: 1.4rem;
    letter-spacing: 0.08em;
  }

  .content {
    grid-template-columns: 1fr;
    gap: 2.2rem;
    margin-top: 3rem;
  }

  .description p {
    font-size: 10px;
    line-height: 1.6;
    text-align: justify;
  }

  .cards {
    gap: 1.2rem;
  }

  .card {
    padding: 1.2rem;
    border-radius: 12px;
  }

  .card h4 {
    font-size: 0.9rem;
    letter-spacing: 0.08em;
  }

  .card p {
    font-size: 10px;
  }

  .icon {
    font-size: 1.5rem;
  }

  .imageBox img {
   display: none;
  }
}

