
html, body {
  max-width: 100%;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

#root {
  overflow-x: hidden;
  width: 100%;
}


.magnetic-cursor {
  position: fixed;
  top: 0;
  left: 0;

  width: 36px;
  height: 36px;
  border-radius: 50%;

  border: 2px solid rgba(255, 140, 40, 0.8);

  box-shadow: 0 0 25px rgba(255, 140, 40, 0.6);

  pointer-events: none;
  z-index: 99999;

  backdrop-filter: blur(4px);

  transition: width 0.2s ease, height 0.2s ease;
}

button:hover ~ .magnetic-cursor,
a:hover ~ .magnetic-cursor {
  width: 52px;
  height: 52px;
}


