@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

body {
  margin: 0;
  background: #000;
  color: white;
  -webkit-font-smoothing: antialiased;
  
}

* {
  box-sizing: border-box;
}

button:hover {
  filter: brightness(1.2);
}
